/*
Theme Name: TDReplica Site Theme 
Theme URI: https://github.com/stephenhouser/TDReplica-theme  
Author: Stephen Houser 
Author URI: http://stephenhouser.com 
Description: Theme for the TDReplica Car Club site.
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Template: twentyfourteen 
Text Domain: TDReplica 

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

fieldset {
	border: none;
}

.content-area {
	padding-top: 1em;
}

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
	max-width: 100%;
}

.post-navigation,
.image-navigation {
	max-width: 100%;
}

.archive-header,
.page-header {
	max-width: 100%;
}

.contributor-info {
	max-width: 100%;
}

.comments-area {
	max-width: 100%;
}

.site-main .mu_register,
.widecolumn > h2,
.widecolumn > form {
	max-width: 100%;
}

@media screen and (min-width: 846px) {
	.content-area,
	.content-sidebar {
		padding-top: 1em;
	}
}

.home-page .entry-header {
    display: none;
}

.entry-header {
    text-align: center;
}

.entry-title {
	text-align: center;
}

.gallery-item {
	float: none;
	display: inline-block;
}

.gallery {
	text-align: center;
 
}

.full-width .site-content blockquote.alignright,
	.full-width .site-content img.size-full.alignright,
	.full-width .site-content img.size-large.alignright,
	.full-width .site-content img.size-medium.alignright,
	.full-width .site-content .wp-caption.alignright {
    margin-right: inherit;
}

#wpadminbar #wp-admin-bar-bp-login,
#wpadminbar #wp-admin-bar-bp-register {
	float: right;
}

#wpadminbar #wp-admin-bar-wp-logo,
#wpadminbar #wp-admin-bar-search,
#wpadminbar #wp-admin-bar-customize,
#wpadminbar #wp-admin-bar-comments,
#wpadminbar #wp-admin-bar-new-content,
#wpadminbar #wp-admin-bar-edit {
	display: none;
}

.widget_display_topics .bbp-forum-title {
	display: block;
}

.widget_display_topics li {
	margin-bottom: 1em;
}

a.bbp-author-name {
	text-decoration: none;
	word-wrap: break-word;
	font-size: 90%;
}

.bbp-author-role {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	
	border: 1px solid #ddd;
	background-color: #eee;
}

.bbp-user-nicename {
	font-weight: bold;
	color: #888;
	display: inline-block;
	margin: 0;
	font-size: 80%;
}

.bbp-reply-ip {
	display: none;
}

/*
.type-topic {
	background-color: #ffe !important;
}
*/

/* Hide closed topics */
/*
.bbp-topics ul.status-closed {
	display:none;
}
*/

/* override forum list default 11pt font so it's readable */
#bbpress-forums .bbp-forums-list li {
	font-size: 100%;
	display: block;
}

/* Simple two column layout. */

.left {
    float: left;
}

.right {
    float: right;
}

.two-column {
}

.two-column div {
    width: 47%;
}

.two-column h2 {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 0.25em;
}

.two-column:after {
    content: " ";
    height: 0;
    display: block;
    clear: both;
}

/* Switch to single column when screen is less than 500px wide */
@media only screen and (max-width: 640px) {
    .two-column .left, .two-column .right {
        float: none;
        width: auto;
    }
}

@media screen and (max-width:782px) {
	#wp-toolbar > ul > li, #wpadminbar #wp-admin-bar-user-actions.ab-submenu img.avatar {
        	display: list-item;
    	}

	#wpadminbar .quicklinks > ul > li > a {
		padding: 0 4px 0 3px;
	}
}

#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=password],
#buddypress .standard-form input[type=email],
#buddypress .standard-form select {
	width: 90%;
}

.register-section.wangguard {
	width: 47% !important;
	float: left;
	margin-top: 0 !important;
}
